

.nav-item  .active{
  background-color: #dee2e6!important;
  color: white;
}

.instagram-bootstrap{ 
    background-color:black; 
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    height: 100%;}


.body{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    width: 80%;
    height: 90%;}

img{
    height: 100%;
    width: 100%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;}


.tab-pane{display: flex; align-content: center; justify-content: center;}